sudo: false
cache: pip

addons:
  postgresql: "9.2" # minimal postgresql version for the daterange method
  apt:
   sources:
      - pov-wkhtmltopdf
   packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml # because pip installation is slow
      - wkhtmltopdf

language: python

python:
  - "2.7"

env:
  global:
  - VERSION="9.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"
  - TRANSIFEX_USER='transbot@odoo-community.org'
  - secure: "1WrdTvTbXTOUv84HyQFdIkxistruGhtYLb2DvlXsDd3pM+/nmtC/PLJ5lQVY0XPiiY3MefH3xvSttpe+QRJx8mzQpInm84H/CPASJdqes3AaXSm/0m4bxoQGkdDEHK3BFYDhk4BvJvBlJf/71TsgTQ+ByFWEaRByzmU6lDceyE21PhQ7EvwF7Zb47IbdX3s4lYv37dNFXqEGABOXJ0CdIYlf1/KdI/zEUFDdkawRHOgf9h6j7klXtVdyo/26no+O4MzUVgHDHHfdvRxoJCLd/CdIiFT6w95FiMSkjTai0h0j44A87ugBvuH59fdWI1/JhpooNNdvkR0h33tLChPcM+X+Bm/lHCvqm2xdcv37PmxTFahHPt/FPl/ptlOn+QpczSqJDVu683HTSPH4FwwxzPoA8aXg7sUA1im+flWBtTYt0yR1FJ3WQT5LP1jW+sJoo+VBvtkEocC1VcRBlKVJVeb/IziZNxy4rUg/CQBTT56QpA2fy0eV9ydhSd+1DHhyzgUGy6KKmC1/bivTUJYS4nC65qCUIkX9bMIrN+EzvHsl1mmIUpZX9oavYwbmoRvp1IoI72ZcbXc+0dsGTT66Ql8aSYJdnItT8NWeSCyY8My8AviniPJVUn/NFXk38JSPpOWpOYd8wizQnWaGm6HZTU4n019JfNy1CQPkQvgbJNw="

  matrix:
  - LINT_CHECK="1"
  - TRANSIFEX="1"
  - TESTS="1" ODOO_REPO="odoo/odoo"
  - TESTS="1" ODOO_REPO="OCA/OCB"

virtualenv:
  system_site_packages: true

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

install:
  - git clone https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
